# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"
PUBLIC_SUPABASE_URL=<your_supabase_project_url>
PUBLIC_SUPABASE_PUBLISHABLE_KEY=<sb_publishable_... or anon keyY>